{% extends  "layout.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/employee_styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/ff_styles.css' %}" />
{% endblock %}



{% block content %}

    <div class="wrapper">
        <div class="ff_header">
            <div class="back">
                <img class="arrow" src="{% static 'icons/Arrow_1.svg' %}">
                <a href="../" class="back_button button">Back</a>
            </div>
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="forms">
                        {{ form.as_p }}
                    </div>
                    
                </form>
                <div class="filter_button ff_button"><a href="#" class="ff_button">Filter</a> </div>
            </div>
        </div>

        <div class="content">
            <div class="table">
                <table class="table_head">
                    <tr>
                        <td class="clmn_class clmn_id">Id</td>
                        <td class="clmn_class clmn_name">Name</td>
                        <td class="clmn_class clmn_department">Department</td>
                        <td class="clmn_class clmn_birth_date">Birth Date</td>
                        <td class="clmn_class clmn_salary">Salary</td>
                        <td class="clmn_class clmn_button"></td>
                        <td class="clmn_class clmn_button"></td>
                    </tr>
                </table>
                
                <table class="employees_table">
                    {% for item in items %}
                    <tr class="row">
                        <td class="clmn_class clmn_id">{{item.id}}</td>
                        <td class="clmn_class clmn_name">{{item.name}}</td>
                        <td class="clmn_class clmn_department">{{item.department}}</td>
                        <td class="clmn_class clmn_birth_date">{{item.date_of_birth}}</td>
                        <td class="clmn_class clmn_salary">{{item.salary}}</td>
                        <td class="clmn_class clmn_button"></td>
                        <td class="clmn_class clmn_button"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
{% endblock %}